    <!-- Footer -->
    <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-6 company">
              <h4>SOLUTIONS</h4>
                  <div class="row">
                      <ul class="menu">
                          <li><a href="javascript:void(0);">Custom Software Solution</a></li>
                          <li><a href="javascript:void(0);">Prototyping</a></li>
                          <li><a href="javascript:void(0);">Design</a></li>
                          <li><a href="javascript:void(0);">Development</a></li>
                          <li><a href="javascript:void(0);">Maintenance</a></li>
                      </ul>
                  </div>

              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 company">
                  <h4>COMPANY</h4>
                      <div class="row">
                        <ul class="menu">
                            <li><a routerLink="about-us">About</a></li>
                            <li><a routerLink="contact-us">Careers</a></li>
                            <li><a routerLink="terms">Terms of Service</a></li>
                            <li><a routerLink="privacy">Privacy Policy</a></li>
                            <li><a routerLink="contact-us">Contact Us</a></li>
                        </ul>
                      </div>
  
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 company">
                      <h4>RESOURCES</h4>
                          <div class="row">
                              <ul class="menu">
                                  <li><a routerLink="about-us">Founders</a></li>
                                  <li><a href="javascript:void(0);">Blog</a></li>
                                  <li><a href="javascript:void(0);">App Developers</a></li>
                                  <li><a href="javascript:void(0);">Web Developers</a></li>
                                  <li><a href="javascript:void(0);">Clients</a></li>
                              </ul>
                          </div>
      
                      </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 company socials">
                      <h4>SOCIAL</h4>
                          <div class="row">
                              <ul class="menu">
                                  <li><a target="_blank" href="https://www.facebook.com/innoappsTech/"><span class="fa fa-facebook"></span></a></li>
                                  <li><a target="_blank" href="https://twitter.com/innoappsTech"><span class="fa fa-twitter"></span></a></li>
                                  <li><a target="_blank" href="https://www.linkedin.com/company/innoapps-technologies"><span class="fa fa-linkedin"></span></a></li>
                                  <li><a target="_blank" href="https://plus.google.com/u/0/+InnoAppsTechnologiesPvtLtdinnoappstech"><span class="fa fa-google-plus"></span></a></li>
                                  <li><a target="_blank" href="https://www.instagram.com/innoappstech/"><span class="fa fa-instagram"></span></a></li>
                              </ul>
                          </div>
                      </div>
          </div>
      </div>
      <div class="mob-footer visible-xs">
          <div class="col-xs-12">
          
                  <div class="f-logo">
                   
                          <img src="assets/images/logo-black.png" class="" height="32" alt="Logo">
                          <ul class="text-center copyrights">
                                  <li><a routerLink="terms">Terms & Privacy</a></li>
                                  <li>© 2018, InnoApps Pvt. Ltd.</li>
                              </ul>
                  </div>
                 
                  
           </div>
      </div>
      <div class="f-btm hidden-xs">
          <div class="container hidden-xs">
              <div class="row">
            
                  <div class="col-sm-12 text-center">
                        <img src="assets/images/logo-black.png" class="" height="32" alt="Logo" class="pull-left" style="position: relative; top:5px">
                          <ul class="">
                                  <li>© 2018, InnoApps Pvt. Ltd.</li>
                                  <li><a href="#">Terms & Privacy</a></li>      
                              </ul>
                  </div>
              </div>
          </div>
      </div>
  </footer>