<main class="main">
    <!-- hero-->
    <div class="container-fluid">
      <div class="row">
        <div class="hero-slider">
            <div class="item"><img src="/assets/images/about-us-hero.png" alt="" width="100%" /></div>          
              <div class="hero-content">
                <div class="container txt-inner">
                    <div class="heading-1">
                      Small team with <span class="red">big</span> ideas.
                    </div>
                    <a href="#" class="btn btn-primary">Start Your Project</a>
                    <p>A solution designed and developed by first rated<br/>
                        expert using the latest technology</p>

                </div>
            </div>
        </div>
      </div>
    </div>
  <!-- hero end -->

    <section class="section about"> 
        <div class="container">
          <div class="row">
                <div class="col-sm-6">
                    <h3>About</h3>
                    <p>Having 100+ clients in 15+ countries, our primary goal is to provide state-of-the-art IT solutions and services, and to deliver products that are beyond clients' expectations. We aim to provide infinite solutions with highest reliability and quality. Not only the product development, but its lifecycle, maintenance and upgrade is what makes InnoApps a truly unique provider.</p>
                    <p>Our solutions are based on the latest technologies. By continuous exchange of knowledge and experiences with clients, InnoApps recognizes the desires and needs, and together with them - we develop projects that bring a competitive advantage in the market. In this way, the satisfaction is mutual, and we grow together with our clients, since each project brings new knowledge, new ideas and new skills. </p>
                  </div>
                <div class="col-sm-6">
                    <h3>Mission</h3>
                    <p>We consider our clients to be our partners. Our goal is to enable them a successful business and sustainable growth. We develop trustful relationship with our clients, thus establishing a long-term cooperation with them. Our solutions are based on the latest technology, implementation, support, maintenance, and permanent monitoring and upgrade.</p>
    
                    <p>InnoApps products are innovative software solutions that solve specific client’s business problems and meet the required functionality. We apply innovation in all applications, websites, mobile platforms and / or complex solutions involving state-of-the-art features.</p>
                </div>
            </div>
        </div>
        </section>
        <section class="section team"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>TEAM</h3>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                       <div class="inner">
                            <figure>
                                <img src="assets/images/ankit.jpg" width="128" class="img-circle" alt="team" />
                            </figure>
                            <figcaption>Ankit Singh</figcaption>
                            <span class="designation">CEO & Founder</span>
                            <span class="email">ankit@innoappstech.com</span>
                       </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                            <figure>
                                <img src="assets/images/avatar.png" alt="team" />
                            </figure>
                            <figcaption>Sachin Kamboj</figcaption>
                            <span class="designation">CTO & Founder</span>
                            <span class="email">sachin@innoappstech.com</span>
                    </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                                <figure>
                                    <img src="assets/images/avatar.png" alt="team" />
                                </figure>
                                <figcaption>Judy Sullivan</figcaption>
                                <span class="designation">CTO</span>
                                <span class="email">judy@innoappstech.com</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                                <figure>
                                    <img src="assets/images/avatar.png" alt="team" />
                                </figure>
                                <figcaption>Michael Ryan</figcaption>
                                <span class="designation">CMO & Co-Founder</span>
                                <span class="email">ryan@innoappstech.com</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                                <figure>
                                    <img src="assets/images/avatar.png" alt="team" />
                                </figure>
                                <figcaption>William Jacobs</figcaption>
                                <span class="designation">Smart Contract Engineer</span>
                                <span class="email">william@innoappstech.com</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                                <figure>
                                    <img src="assets/images/avatar.png" alt="team" />
                                </figure>
                                <figcaption>Albert Fuller</figcaption>
                                <span class="designation">System Architect</span>
                                <span class="email">albert@innoappstech.com</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                                <figure>
                                    <img src="assets/images/avatar.png" alt="team" />
                                </figure>
                                <figcaption>Terry Alvarez</figcaption>
                                <span class="designation">Sales Head</span>
                                <span class="email">terry@innoappstech.com</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                                <figure>
                                    <img src="assets/images/avatar.png" alt="team" />
                                </figure>
                                <figcaption>Justin Harris</figcaption>
                                <span class="designation">Social Media Specialist</span>
                                <span class="email">justin@innoappstech.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section locations"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>INNOAPPS HQ</h3>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h5 class="font-32">Where we're located</h5>
                        <p>InnoApps is headquartered in the tech city of the India. 
                                Visit us in downtown Noida's for your next meeting.</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5>India</h5>
                                <p>C15, Sec 65 Noida<br/> 
                                Uttar Pradesh-201301</p>
                                <p>+91 9821252171<br/>
                                sales@innoappstech.com</p>
                            </div>
                            <div class="col-sm-6">
                                <h5>USA</h5>
                                <p>4 Allandale Drive, D12,<br/> 
                                Newark, DE 19713</p>
                                <p>+1 (860) 834-8569<br/>
                                sales@innoappstech.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section locations"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>BRAND ASSETS</h3>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="font-32">Official branding and imagery</h5>
                        <p>Download Innoapps graphics that you may include on your website or in printed materials.</p>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Innoapps Logos</h6>
                               <img src="assets/images/group-23.png" alt="" class="img-responsive" />
                               <span class="download-img">Download logos <a href="assets/images/innoapps-logo.png" download>here</a></span>
                            </div>
                            <div class="col-md-6">
                                <h6>Founder Photos</h6>
                                <img src="assets/images/rectangle-3-copy.png" alt="" class="img-responsive" />
                                <span class="download-img">Download photos <a href="assets/images/team.png" download>here</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="call-out">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="call-out-text">
                      Ready to begin your project?
                      <span>Contact us and we start working within 48 hours. </span>
          
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 text-center call-btns pull-right">
                  <a href="#" class="btn btn-callout">Start Your Project</a><br/>
                  <a href="#">or email sales</a>
                </div>
              </div>
            </div>
          </section>