<main class="main">
  <!-- hero-->
  <div class="container-fluid">
    <div class="row">
      <div class="hero-slider home-slider">
          
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig">
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
<img src="{{ slide.img }}" alt="" width="100%">
</div>
</ngx-slick-carousel>
          <div class="hero-content">
              <div class="container txt-inner">
                  <div class="heading-1"><span class="red">Innovating</span> software for performance,
                    <span class="light">helping users to fix things intelligently</span>
                  </div>
                  <div class="for-yellow-caps">for Yellow Caps</div>
                  <a href="https://www.innoappstech.com/ng5-innoapps/start-project/" class="btn btn-primary">Start Your Project</a>
                  <p>A solution designed and developed by first rated<br/>
                    expert using the latest technology</p>
              </div>
          </div>
      </div>
    </div>
  </div>
<!-- hero end -->

<section class="home-section client">
  <div class="container">
        <h2>Clients</h2>
  </div>
  <div class="container text-center">
    <h3>Top brands rely on innoapps enterprise solutions</h3>
    <div class="client-logo"  >
        <div class="item bounceInUp" data-wow-duration="2s">
          <img src="/assets/images/client-logo-1.png" alt="" />
        </div>
        <div class="item bounceInUp" data-wow-duration="2s">
          <img src="/assets/images/digicel-logo-new-red-1-copy.png" alt="" />
        </div>
        <div class="item bounceInUp" data-wow-duration="2s">
            <img src="/assets/images/videomyjob-white-copy.png" alt="" />
          </div>
        <div class="item bounceInUp" data-wow-duration="2s">
              <img src="/assets/images/crypto-night-logo.png" alt="" />
        </div>
        <div class="item bounceInUp" data-wow-duration="2s">
            <img src="/assets/images/zsah-mts-logo-147-x-65-copy-5.png" alt="" />
        </div>
    </div>
  </div>
</section>


<section class="home-section service">
    <div class="container">
          <h2>WE PROVIDE</h2>
    </div>
    <div class="container text-center">
      <div class="service-tag">
          Unlimited innovation with
          <span>industry&apos;s bests</span>
      </div>
      <h3>We execute full-cycle custom web applications tailored to your needs</h3>
      <div class="tab-services " >
          <p-tabView>
              <p-tabPanel header="SOLUTIONS" [selected]="true">
                  <div class="service-grid">
                    <div class="grid slideInLeft" data-wow-duration="2s">
                        <div class="icon"><img src="/assets/images/design@2x.png" alt="" /></div>
                        <div class="content">
                          <h4>Design</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="icon"><img src="/assets/images/development@2x.png" alt="" /></div>
                        <div class="content">
                          <h4>Developement</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </div>

                    <div class="grid slideInRight" data-wow-duration="2s">
                        <div class="icon"><img src="/assets/images/prototyping@2x.png" alt="" /></div>
                        <div class="content">
                          <h4>Prototyping</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </div>

                    <div class="grid slideInLeft" data-wow-duration="4s">
                        <div class="icon"><img src="/assets/images/marketing@2x.png" alt="" /></div>
                        <div class="content">
                          <h4>Marketing</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="icon"><img src="/assets/images/cloud@2x.png" alt="" /></div>
                        <div class="content">
                          <h4>Cloud Computing</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </div>

                    <div class="grid slideInRight" data-wow-duration="4s">
                        <div class="icon"><img src="/assets/images/maintainence@2x.png" alt="" /></div>
                        <div class="content">
                          <h4>Maintainance</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </div>

                  </div>
              </p-tabPanel>
              <p-tabPanel header="SERVICES">
                <div class="service-grid">
                  <div class="grid">
                      <div class="icon"><img src="/assets/images/web-developement@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Web Development</h4>
                        <p>Contemporary, Responsive web application development with LAMP, PHP, NODE, REACT.</p>
                      </div>
                  </div>

                  <div class="grid">
                      <div class="icon"><img src="/assets/images/mobile-app@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Mobile Apps</h4>
                        <p>Future ready, secure and scalable, Mobile Apps Development Services across the verticals and industries.</p>
                      </div>
                  </div>

                  <div class="grid">
                      <div class="icon"><img src="/assets/images/software@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Custom Software</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                      </div>
                  </div>

                  <div class="grid ">
                      <div class="icon"><img src="/assets/images/itconsulting@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>IT Consulting</h4>
                        <p>Multi-tenant, Multi lingual, Mobile and Web based E-Commerce Consulting, Development, Solutions & Maintenance.</p>
                      </div>
                  </div>

                  <div class="grid">
                      <div class="icon"><img src="/assets/images/testing@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>QA & Testing</h4>
                        <p>Turn to our experts to perform comprehensive, multi-stage testing and auditing of your software, web & mobile app.</p>
                      </div>
                  </div>

                  <div class="grid">
                      <div class="icon"><img src="/assets/images/blockchain@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Blockchain</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                      </div>
                  </div>

                </div>
              </p-tabPanel>
              <p-tabPanel header="INDUSTRIES">
                <div class="service-grid">
                  <div class="grid">
                      <div class="icon"><img src="/assets/images/logistics-2@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Logistics</h4>
                        <p>Contemporary, Responsive web application development with LAMP, PHP, NODE, REACT.</p>
                      </div>
                  </div>

                  <div class="grid">
                      <div class="icon"><img src="/assets/images/health@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Health and Fitness</h4>
                        <p>Future ready, secure and scalable, Mobile Apps Development Services across the verticals and industries.</p>
                      </div>
                  </div>

                  <div class="grid">
                      <div class="icon"><img src="/assets/images/tools@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Utilities and Tools</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                      </div>
                  </div>

                  <div class="grid ">
                      <div class="icon"><img src="/assets/images/ecommerce-2@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>E-Commerce and Retail</h4>
                        <p>Multi-tenant, Multi lingual, Mobile and Web based E-Commerce Consulting, Development, Solutions & Maintenance.</p>
                      </div>
                  </div>

                  <div class="grid">
                      <div class="icon"><img src="/assets/images/socialnetworking@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Social Networking</h4>
                        <p>Turn to our experts to perform comprehensive, multi-stage testing and auditing of your software, web & mobile app.</p>
                      </div>
                  </div>

                  <div class="grid">
                      <div class="icon"><img src="/assets/images/realestate@2x.png" alt="" /></div>
                      <div class="content">
                        <h4>Real Estate</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                      </div>
                  </div>

                </div>  
              </p-tabPanel>
          </p-tabView>
      </div>
    </div>
</section>  

<section class="home-section technologies">
    <div class="container">
          <h2>SKILLS</h2>
    </div>
    <div class="container text-center">
        <div class="service-tag">
            Optimize performance with latest
            <span>Software Technology</span>
        </div> 
        <h3>InnoApps helps companies use technology to solve core business problems</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="icon">
              <img src="/assets/images/web.png" alt="" />
          </div>
          <div class="content">
            <h5>Web Development</h5>
            <ul>
              <li>PHP</li>
              <li>React</li>
              <li>Node</li>
              <li>Angular</li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="icon">
                <img src="/assets/images/mobile.png" alt="" />
            </div>
            <div class="content">
              <h5>Mobile Development</h5>
              <ul>
                <li>iOS</li>
                <li>Android</li>
                <li>React Native</li>
                <li>Ionic</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
              <div class="icon">
                  <img src="/assets/images/software.png" alt="" />
              </div>
              <div class="content">
                <h5>Software Development</h5>
                  <ul>
                    <li>RoR</li>
                    <li>.NET</li>
                    <li>GoLang</li>
                    <li>Phyton</li>
                  </ul>
              </div>
            </div>


            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="icon">
                    <img src="/assets/images/product.png" alt="" />
                </div>
                <div class="content">
                  <h5>Product and Design</h5>
                      <ul>
                        <li>Product management</li>
                        <li>UX Design</li>
                        <li>UI Design</li>
                        <li>Logo Design</li>
                      </ul>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-6">
                  <div class="icon">
                      <img src="/assets/images/cloud.png" alt="" />
                  </div>
                  <div class="content">
                    <h5>Cloud Platforms</h5>
                    <ul>
                      <li>Azure</li>
                      <li>AWS</li>
                      <li>Firebase</li>
                      <li>Parse</li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="icon">
                        <img src="/assets/images/ecommerce.png" alt="" />
                    </div>
                    <div class="content">
                      <h5>E-Commerce Development</h5>
                      <ul>
                        <li>Magento</li>
                        <li>OpenCart</li>
                        <li>PrestaShop</li>
                        <li>Endeca Commerce</li>
                      </ul>
                    </div>
                  </div>

      </div>
    </div>
</section>

<section class="home-section numbers">
  <div class="container">
        <h2>NUMBERS</h2>
  </div>
  <div class="container text-center">
      <div class="service-tag">
        3 years of innovation InnoApps
        <span>success in numbers</span>
      </div> 
      <h3>Our figures are the evidence of our commitment to transforming businesses</h3>
  </div>
  <div class="container">
    <ul>
      <li class="bounceInUp">
        <div class="oval">
            <div>

                <span class='number'><span class='numscroller' data-min='1' data-max='20' data-delay='1' data-increment='1'>0</span>+</span>
                <span class="text">Developer</span>
            </div>
      </div>
    </li>
    <li class="bounceInUp">
        <div class="oval">
            <div>
                <span class='number'><span class='numscroller' data-min='1' data-max='10' data-delay='1' data-increment='1'>0</span>+</span>
                <span class="text">Designers</span>
            </div>
      </div>
    </li>

    <li class=" bounceInUp" >
        <div class="oval">
            <div>
                <span span class='number'><span class='numscroller' data-min='1' data-max='100' data-delay='4' data-increment='1'>0</span>+</span>
                <span class="text">Projects</span>
            </div>
      </div>
    </li>

    <li class=" bounceInUp">
        <div class="oval">
            <div>
                <span span class='number'><span class='numscroller' data-min='1' data-max='88' data-delay='3' data-increment='1'>0</span>+</span>
                <span class="text">Satisfaction</span>
            </div>
      </div>
    </li>

    <li class="bounceInUp">
        <div class="oval">
            <div>
                <span span class='number'><span class='numscroller' data-min='1' data-max='8' data-delay='1' data-increment='1'></span>+</span>
                <span class="text">Countries</span>
            </div>
      </div>
    </li>

    <li class="bounceInUp">
        <div class="oval">
            <div>
                <span span class='number'><span class='numscroller' data-min='1' data-max='4' data-delay='1' data-increment='1'></span>+</span>
                <span class="text">Active Projects</span>
            </div>
      </div>
    </li>
    
    </ul>
</div>
</section>

<section class="home-section testimonials">
    <div class="container">
          <h2>WHY INNOAPPS</h2>
    </div>
    <div class="container text-center">
        <div class="service-tag">
            See why InnoApps is the leading
            <span>brands top choice</span>
        </div> 
        <h3>They trust our expertise for effective software solutions</h3>
    </div>
    <div class="container bounceInUp" data-wow-duration="2s">
      <div class="">
              <!-- You can use owl-carousel selector to include its component -->
            
        <div class="item">
          <div class="testimonial">
            <p>We have used InnoApps for both application dev and UX/UI design. I must say, InnoApps have gone over and beyond skill level with design allowing me to pitch samples for projects. InnoApps have also helped me fix bugs from previous projects.</p>
            <div class="_client">
              <div class="c-img">
                <img src="/assets/images/hamza.png" alt="" />
              </div>
              <div class="c-text">
                <span>Humza Rajput</span>
                <span>Product Manager of ZSAH</span>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
            <div class="testimonial">
              <p>Working with InnoApps Technologies was fantastic! They provided excellent support, great code / development work and awesome design! I highly recommend you work with them for your next job.</p>
              <div class="_client">
                <div class="c-img">
                  <img src="/assets/images/client-2.png" alt="" />
                </div>
                <div class="c-text">
                  <span>Max Goldberg</span>
                  <span>CEO of Waitly App</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
              <div class="testimonial">
                <p>Pro-active team, willing to work the extra minute! Great communication from Dev Team & Admins. High availability, tackle requests & fixes on the spot. Kind and supported, a job hungry attention to detail team. No regrets, thanks team for an awesome experience!</p>
                <div class="_client">
                  <div class="c-img">
                    <img src="/assets/images/client-3.png" alt="" />
                  </div>
                  <div class="c-text">
                    <span>Bryanne Vega</span>
                    <span>CTO of Atomical Software</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
                <div class="testimonial">
                  <p>The team has done a great job, providing feedback, support and advice at all times. They're also available 24/7 despite the time difference, which is a great plus. They clearly have a great knowledge and expertise in many different areas (programming languages, design, etc) and the result has been amazing!</p>
                  <div class="_client">
                    <div class="c-img">
                      <img src="/assets/images/client-3.png" alt="" />
                    </div>
                    <div class="c-text">
                      <span>Bryanne Vega</span>
                      <span>CEO, Expleo</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                  <div class="testimonial">
                    <p>Pro-active team, willing to work the extra minute! Great communication from Dev Team & Admins. High availability, tackle requests & fixes on the spot. Kind and supported, a job hungry attention to detail team. No regrets, thanks team for an awesome experience!</p>
                    <div class="_client">
                      <div class="c-img">
                        <img src="/assets/images/client-3.png" alt="" />
                      </div>
                      <div class="c-text">
                        <span>Bryanne Vega</span>
                        <span>CTO of Atomical Software</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                    <div class="testimonial">
                      <p>Pro-active team, willing to work the extra minute! Great communication from Dev Team & Admins. High availability, tackle requests & fixes on the spot. Kind and supported, a job hungry attention to detail team. No regrets, thanks team for an awesome experience!</p>
                      <div class="_client">
                        <div class="c-img">
                          <img src="/assets/images/client-3.png" alt="" />
                        </div>
                        <div class="c-text">
                          <span>Bryanne Vega</span>
                          <span>CTO of Atomical Software</span>
                        </div>
                      </div>
                    </div>
                  </div>
      </div>
    </div>
</section>  

<section class="home-section blogs">
  <div class="container">
        <h2>BLOGS</h2>
  </div>
  <div class="container text-center">
      <div class="service-tag">
        Want to learn more about InnoApps services? 
        <span>See what they’re saying about it.</span>
      </div> 
      <h3>People from all over the world love the custom applications we create for them</h3>
  </div>
  <div class="container blog-slider bounceInUp" data-wow-duration="2s">
      <!-- You can use owl-carousel selector to include its component -->
    
        <div class="item">
          <div class="blog-item">
            <h6>Design Better Forms</h6>
            <p>Common mistakes designers make and how to fix them.</p>
            <a href="#">VIEW ARTICLE
              <span>
                  <svg height="15" viewBox="0 0 48 48" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"/></svg>
              </span>
            </a>
          </div>
        </div>

        <div class="item">
            <div class="blog-item">
              <h6>Good to great UI animat…</h6>
              <p>Practical suggestions to improve your UI micro-interactions.</p>
              <a href="#">VIEW ARTICLE
                <span>
                    <svg height="15" viewBox="0 0 48 48" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"/></svg>
                </span>
              </a>
            </div>
          </div>

          <div class="item">
              <div class="blog-item">
                <h6>Art as a Second Langua…</h6>
                <p>Drawing is a translation of all my voices and words — an attempt to draw nothing.</p>
                <a href="#">VIEW ARTICLE
                  <span>
                      <svg height="15" viewBox="0 0 48 48" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"/></svg>
                  </span>
                </a>
              </div>
            </div>
  </div>
</section>
<section class="call-out">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-8">
            <div class="call-out-text">
              Ready to begin your project?
              <span>Contact us and we start working within 48 hours. </span>
  
            </div>
        </div>
        <div class="col-md-2 col-sm-4 text-center call-btns pull-right">
          <a href="#" class="btn btn-callout">Start Your Project</a><br/>
          <a href="#">or email sales</a>
        </div>
      </div>
    </div>
  </section>
</main>